@import url("https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&subset=latin,latin-ext");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.profile-img {
  text-align: center;
}

.profile-title > p {
  font-size: 2rem;
  text-align: center;
}

.profile-social {
  text-align: center;
}

.profile-social > a {
  padding-right: 5px;
  padding-left: 5px;
  font-size: 1.5rem;
  color: black;
}
